{% extends 'base.html' %}
{% block content %}<br><br>
<form method="POST">
    {% csrf_token %}

    {{ form.subject.errors }}
    {{ form.subject }}<br><br>

    {{ form.status.errors }}
    {{ form.status }}<br><br>

    {{ form.group.errors }}
    {{ form.group }}<br><br>

    {{ form.note.errors }}
    {{ form.note }}<br><br>

    <label for="assigned_user">Reassign to:</label>
    <select id="assigned_user" name="assigned_user" class="form-control">
        {% for user in logged_in_users %}
            <option value="{{ user.id }}" {% if user == ticket.assigned_to %}selected{% endif %}>{{ user.username }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary mt-3">Reassign Ticket</button>
</form>
{% endblock %}